/***** BASE STYLES *****/
body {
    font-family: 'Raleway', sans-serif;
    color: #333333;
    background-color: #FCFAFC;
}

header, #about, #work, #contact, #picker {
    height: 600px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 650px;
    padding-bottom: 50px;
}

header img {
    display: inline;
    padding-right: 28px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    display: inline;
}

header h1 span {
    /* color: #5d536b; */
    color: #7d6b91;
}

header h2 {
    font-size: 48px;
    font-weight: lighter;
}

header p {
    visibility: hidden;
}

nav {
    float: right;
    padding-bottom: 100px;
}

nav ul li {
    display: inline-block;
    padding: 25px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: #333333;
}

/***** ABOUT *****/
#about {
    height: 800px;
    margin: auto;
    text-align: center;
    background-color: #343752;
    color: #FCFAFC;
    padding-top: 100px;
}

#about img {
    border: 10px solid #FCFAFC;
}

#about p {
    padding-left: 400px;
    padding-right: 400px;
}

/***** WORK *****/
#work {
    height: 700px;
    margin: auto;
    padding-top: 100px;
}

#work img {
    height: 225px;
    width: 350px;
    padding-left: 40px;
    padding-right: 40px;
}

#work p {
    padding-left: 40px;
    padding-right: 40px;;
}


/***** CONTACT *****/
#contact {
    height: 500px ;
    background-color: #343752;
    color: #FCFAFC;
    padding-top: 100px;
}

#contact ul li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

/***** PICKER *****/
#picker {
    height: 100px;
    padding-top: 50px;
    text-align: center;
}

#picker button {
    background-color: #343752;
    border: none;
    padding: 15px 32px;
    display: inline-block;
}

#picker button a {
    color: #FCFAFC;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
